footer {
  background: #EFF0D1;
  bottom: 0;
  width: 100%;
  height: 100px; }

header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative; }

body {
  background: radial-gradient(circle, #f7f0bf 0%, rgba(57, 199, 188, 0.508121) 100%); }
  body h2 {
    color: #8D89A6; }
  body p {
    color: #8D89A6; }
