header {
  width: 100%;
  height: 180px;
}

#logo_icono {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.container-fluid {
  list-style-type: none;
  padding: 15px 15px;
  background-color: beige;
  border-radius: 20px;
}

.footer {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body {
  background: radial-gradient(circle, rgba(247, 240, 191, 1) 0%, rgba(57, 199, 188, 0.5081206496519721) 100%);
  margin: 0px;
}
